@import "../style/style.scss";

.report-card-container {
  border: #c7d2fe 2px solid;
  background-color: #fff7ec;
  border-radius: $spacing;
  padding: $spacingDouble;
  width: 100%;
  @include colorAndWeight();
  @include flex(column, start, start, 4px);
  @include mq() {
    width: fit-content;
    min-width: 525px;
    @include flex(column, start, start, 8px);
  }
  button {
    margin: 0;
  }
}
